{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Main Page{% endblock %}
{%block content%}
<div>
    <h2>Top 5 Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href = '{% url 'category' category.name %}'>{{category.name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong> there are no categories present </strong>
        {% endif %}
        <h2>Top 5 Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li>
                <a href = '{{page.url}}'>{{page.title}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no pages available!</strong>
        {% endif %}
</div>
{%endblock%}







