{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}register page{% endblock %}

{% block body_block %}
<div>
<h1>Register with Rango!</h1>
{% if registered %}
rango says <strong>Thansk you registering!</strong>
<br/><a href="/rango/">Return to the homepage</a><br/>
{%else%}
Rango says:<strong> register here!</strong><br/>
<form id="user_form" method="POST"
 action="/rango/register/"  enctype="multipart/form-data">
    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}

    <input type = "submit" name = "submit" value = "register" />
</form>
{%endif%}
</div>
{%endblock%}